<div class="container-fluid">
<div class="jumbotron">
  <h1>打造围绕圣经而活的工具</h1>
  <p>他喜爱的是耶和华的律法，他昼夜默诵的也是耶和华的律法。(诗篇1:2 cnvs)</p>
  <p><%= link_to "Try it now", welcome_read_path, :class => "btn btn-primary btn-lg" %></p>
</div>
</div>

<div class="container-fluid">
  <div class="row">
    
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail">
	<img src="todo.jpg" alt="todo">
	<div class="caption">
	  <h3>feature 1</h3>
	  <p>feature info</p>
	  <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
	</div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail">
	<img src="todo.jpg" alt="todo">
	<div class="caption">
	  <h3>feature 2</h3>
	  <p>feature info</p>
	  <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
	</div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail">
	<img src="todo.jpg" alt="todo">
	<div class="caption">
	  <h3>feature 3</h3>
	  <p>feature info</p>
	  <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
	</div>
      </div>
    </div>

  </div>
</div>

<!-- 每日经文 -->
<div class="container-fluid">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">每日经文</h3>
    </div>
    <div class="panel-body">
      平安的路，他们未曾知道；（罗马书3:17）
    </div>
  </div>
</div>

<!-- 每日推荐 -->
<div class="container-fluid">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">推荐</h3>
    </div>
    <div class="panel-body">
      some words
    </div>
  </div>
</div>

