<div class="container-fluid">
  <div class="col-xs-0 col-md-4"></div>
  <div class="wrapper col-xs-12 col-md-4 text-center">
    <div class="btn-group" role="group" aria-label="...">
    <!-- version button -->  
    <div class="btn-group" role="group" id="version-menu">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	Version
	<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
      </ul>
    </div>
    <!-- volumn menu -->
    <div class="btn-group" role="group" id="volumn-menu">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	Volumn
	<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
      </ul>
    </div>
    <!-- chapter menu-->
    <div class="btn-group" role="group" id="chapter-menu">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	Chapter
	<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
      </ul>
    </div>
  </div>
  </div>
  
  <div class="col-xs-0 col-md-4"></div>
</div>

<div class="container-fluid">
<div class="col-xs-0 col-md-2"></div>
<div class="container-fluid col-xs-12 col-md-8" id="content-id"></div>
<div class="col-xs-0 col-md-2"></div>
</div>

<div style="height:20px;"></div>
