<div class="container-fluid">
<div class="panel panel-success">
  <div class="panel-body">
    <%= @suggestion.summary %>
    <br />
    <%= @suggestion.describe %>
  </div>
  <div class="panel-footer">
    <%= @suggestion.email %>
  </div>
</div>
</div>
